* {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  
}

.Reservacion{
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.titleG {
  text-align: center;
  font-size: 40px;
  color: #000000;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.ContenedorG {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.ContenedorG .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.Cuerpo {
  background-color: #e4cb86;
}

.ContenedorG .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.ContenedorG .card img {
  width: 330px;
  height: 220px;
}

.ContenedorG .card h4 {
  font-weight: 600;
}

.ContenedorG .card p {
  padding-left: 1rem;
  font-size: 16px;
  font-weight: 300;
}

.ContenedorG .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}
.rdrStaticRanges button{
  color: #000000;
}

.ContenidoG {
  margin-top: 3rem;
  margin-left: 13rem;
}

.TituloB {
  margin-left: 35%;
  color: #000000;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.TituloC {
  margin-right: 18%;
  color: #000000;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.Fecha{
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 550px;
  position: absolute;
}

.carousel-inner {
  height: 550px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #bababad6 !important;
}


.ContainerS {
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
  position: relative;
}

.TextoCliente{
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.ContainerS p {
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slider-frame {
	width: 1280px;
    height: auto;
	overflow: hidden;
  border-radius: 2%;
  margin-top: 2rem;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;

}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: white;
  margin-top: 1.9rem;
}

.copyright-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1p solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10 px 0;
}



.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 10px);

}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(https://www.profesionalreview.com/wp-content/uploads/2018/04/C%C3%B3mo-descargar-todos-los-datos-que-Facebook-tiene-sobre-ti-3.jpg);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
  background-image: url(https://straightarrowfilms.com/wp-content/uploads/2020/05/new-instagram-logo-png-transparent-light.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(https://w7.pngwing.com/pngs/963/811/png-transparent-youtube-logo-youtube-red-logo-computer-icons-youtube-television-angle-rectangle.png);
}

@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }


  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }

  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }

  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
}

@media screen and (max-width: 768px) {

  .footer-container {
    padding: 1.7rem;
    flex-direction: column;
    display: block;
  }

  .footer-content-container {
    margin-top: -2.2rem;
    width: 100%;
    border-bottom: 1px solid #a11111;
    justify-content: center;
    align-items: center;
    font-size: 80%;
  }
}