body{
    background-color: #f9d99a;
}

@media (min-width:1200px) {
    .grid_vision_reunion {
        max-width: 1200px;
        margin: 1rem auto;
    }
    .grid_vision_evento{
        max-width: 1200px;
        margin: 1rem auto;
    }
}

.grid_vision {
    width: 100%;
    margin: auto;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
    position: relative;
}

.grid_vision .image1 {
    width: 90%;
    height: 90%;
}

.grid_vision .image2 {
    width: 90%;
    height: 90%;
}

.image1{
    position: relative;
    left: 10%;
}

.image2{
    position: relative;
}

.grid_vision_reunion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    background-color: #ffa500;
    padding: 1%;
}

.grid_vision_evento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    background-color: #fff;
    padding: 1%;
}

@media (max-width: 900px){
    .grid_vision {
        width: 100%;
        margin: auto;
        font-size: 15px;
        line-height: 15px;
        text-align: justify;
        position: relative;
    }
}